@keyframes animation {
  form {
    transform: scale(0.8);
    opacity: 0.4;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.cart-modal {
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
  border-radius: 10px;
  transform: scale(0.8);
  animation: animation 0.35s ease-out 0s 1 normal forwards;
  position: fixed;
  z-index: 4;
}
.modal-header {
  padding: 0px 10px;
  border-bottom: 2px solid #4d4d63;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-header h3 {
  font-size: 1.1rem;
}
.modal-header span {
  display: flex;
  font-size: 1.3rem;
  cursor: pointer;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-body p {
  padding: 12px 0px;
  color: var(--textColor);
}
.modal-body p + button {
  font-size: 17px;
  padding: 5px 20px;
}

@media all and (min-width: 576px) {
  .cart-modal {
    width: 450px;
    height: 400px;
  }
}
