.feedBackHeadline {
  grid-column: span 12;
  text-align: center;
  opacity: 0;
  transition: all 0.7s 0.2s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 0px 0px 1.5rem;
  position: relative;
  z-index: 2;
  background-color: #15151e;
  transition: all 0.8s 0.2s;
  opacity: 0;
}
.hider {
  position: absolute;
  top: 0px;
  right: -100vw;
  background-color: #15151e;
  height: 100%;
  width: 100vw;
}
.feedBackHeadline h4,
.feedBackHeadline p {
  max-width: 550px;
  margin: 0px auto;
}
.customer-feed-title {
  font-size: calc(1.5rem + 0.7vw);
}
.feed-desc {
  color: #c3c3d0;
  font-size: 0.85rem;
}
.y-margin {
  margin: 1.2rem 0px;
}
@media all and (min-width: 576px) {
  .feedBackHeadline {
    text-align: center;
  }
  .feed-desc {
    color: #c3c3d0;
    font-size: 0.97rem;
    line-height: 1.7rem;
  }
  .feedBackHeadline h4,
  .feedBackHeadline p {
    margin: 0px;
    padding: 0px 0rem 0px 1rem;
  }
}

@media all and (min-width: 992px) {
  .feedBackHeadline {
    grid-column: span 6;
    align-items: flex-start;
    text-align: justify;
    margin: 0px 0px 0rem;
  }
  .customer-feed-title {
    font-size: calc(1.5rem + 0.7vw);
  }
}
@media all and (min-width: 1400px) {
  .customer-feed-title {
    font-size: 2.2rem;
  }
}

.show-feed-back {
  opacity: 1;
}
