.custom-plan-contaner {
  grid-column: span 12;
  display: flex;
  justify-content: center;
  margin: 3rem 0px 0rem;
}
.custom-plan {
  padding: 1.5rem 2rem;
  max-width: 900px;
  border-radius: 20px;
  background-image: url("https://assets.website-files.com/623a72cac2795a8386c05faa/6241e785afc6cd0aca779fed_gradient-04-darkbit-template.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
}
.context-section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.context-section + div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.context-section + div a {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  font-size: 1.08rem;
  transition: all 0.3s;
}
.context-section + div a:hover {
  background-color: #4d4d63;
  transform: scale(0.97);
  color: #fff;
}
.context-section h4 {
  font-size: 1.6rem;
}
.context-section p {
  text-align: justify;
  line-height: 1.9rem;
  font-size: 1rem;
}
.special-plan-features {
  width: 100%;
}
.special-plan-features ul {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.special-plan-features ul > li {
  font-size: 1rem !important;
  width: max-content;
}
.item-icons {
  font-size: 1.3rem !important;
}
@media all and (min-width: 768px) {
  .context-section {
    width: 60%;
  }
  .context-section + div {
    width: 40%;
  }
  .context-section h4 {
    font-size: 1.8rem;
  }
  .context-section p {
    text-align: justify;
    padding-left: 2rem;
  }
}
