.email-form {
  width: min(100%, 600px);
  display: flex;
  justify-content: center;
  margin: 20px auto 0px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: var(--primeBgColor);
  opacity: 1 !important;
  position: relative;
  z-index: -1;
}
.submit-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.email-form input {
  font-size: calc(0.8rem + 0.5vw);
  padding: 5px 10px;
  direction: ltr;
  background-color: transparent;
  border: none;
  width: 60%;
  outline: none;
  color: #fff;
  font-family: "Noto Sans Arabic";
  opacity: 1 !important;
  height: 70%;
}
.button-style {
  width: 40%;
  padding: 4px 0px;
  text-align: center;
  font-size: calc(0.8rem + 0.5vw);
}
@media all and (min-width: 576px) {
  .submit-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .email-form input {
    font-size: calc(0.9rem + 0.3vw);
    width: 70%;
    color: #fff;
    font-family: "Noto Sans Arabic";
    opacity: 1 !important;
  }
  .button-style {
    width: 30%;
    padding: 5px 0px;
    font-size: calc(0.9rem + 0.3vw);
    background-color: red;
    position: static !important;
  }
}
