.heading-container {
  max-width: 900px;
  text-align: center;
  margin: 2rem auto;
}
.heading-container h3 {
  font-size: calc(1.4rem + 0.8vw);
  transition: all 0.4s 0.2s;
  transform: translateY(10px);
  opacity: 0;
}
.heading-container p {
  font-size: calc(0.8rem + 0.5vw);
  line-height: 1.8rem;
  color: var(--textColor);
  transition: all 0.4s 0.3s;
  transform: translateY(10px);
  opacity: 0;
}

.show-up {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
@media all and (min-width: 992px) {
  .heading-container p {
    font-size: calc(0.65rem + 0.6vw);
    line-height: 1.8rem;
  }
}
@media all and (min-width: 1400px) {
  .heading-container h3 {
    font-size: 2.4rem;
  }
  .heading-container p {
    font-size: 1rem;
  }
}
