.feature-analytics {
  grid-column: span 12;
  background-color: var(--primeBgColor);
  border-radius: 2rem;
  margin: 1rem 0px;
  transition: all 0.3s;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}
.feature-analytics:hover {
  transform: scale(0.98);
  background-color: #444455;
}
.feature-container {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  padding: 0px !;
  opacity: 0;
  transition: all 0.3s !important;
}
.feature-container > div {
  width: 100%;
}
.text-section,
.image-section {
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}
.text-section {
  text-align: right;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 25px 30px;
}

.text-section > p {
  max-width: 400px;
  font-size: 0.98rem;
  margin-bottom: 0.5rem;
  color: var(--textColor);
}
.image-section img {
  width: 100%;
  max-width: 100%;
  transition: all 0.3s;
}
.show-feature {
  opacity: 1;
  -moz-transition: opacity 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}
@media all and (min-width: 576px) {
  .text-section {
    text-align: right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}
@media all and (min-width: 992px) {
  .text-section {
    text-align: center;
    padding: 5px 10px;
    align-items: center;
  }
  .read-more-link {
    display: flex;
    margin-top: 1.1rem;
    margin-bottom: 0rem;
    align-items: center;
    font-size: calc(1.2rem + 0.3vw);
  }
  .text-section,
  .image-section {
    width: 50%;
  }
}
