.third-section {
  padding: 20px 0px 20px 0px;
  grid-column: span 12;
  align-items: stretch;
  height: 100%;
  opacity: 0;
  transition: all 0.4s 0.2s;
}
.third-section-content {
  width: 100%;
  padding: 25px 30px;
  background: var(--primeBgColor);
  border-radius: 20px;
  transition: all 0.3s;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.third-section-content p {
  text-align: justify;
  color: var(--textColor);
  font-size: 0.98rem;
  padding: 1rem 0px;
}

.third-section-content:hover {
  transform: scale(0.98);
  background-color: #444455;
}
.show-feature {
  opacity: 1;
}
@media all and (min-width: 992px) {
  .third-section {
    padding: 20px 15px 20px 0px;
    grid-column: span 5;
  }
}
