.second-feature-section {
  padding: 20px 0px 20px 0px;
  grid-column: span 12;
  height: 100%;
  transition: all 0.4s;
  opacity: 0;
}
.feature-content {
  background: var(--primeBgColor);
  border-radius: 20px;
  transition: all 0.3s;
  overflow: hidden;
  display: flex;
  height: 100%;
}
.text-content {
  width: 100%;
  padding: 25px 30px;
}
.text-content p {
  text-align: justify;
  color: var(--textColor);
  font-size: 0.98rem;
  padding: 0.5rem 0px;
}
.image-content {
  display: none;
  background: url("../../assets/images/automated.png") no-repeat -40px center;
  background-size: 100% 90%;
}
.image-content img {
  max-width: 100% !important;
  height: auto;
}
.feature-content:hover {
  transform: scale(0.98);
  background-color: #444455;
}
.show-feature {
  opacity: 1;
}
@media all and (min-width: 992px) {
  .second-feature-section {
    padding: 20px 0px 20px 15px;
    grid-column: span 7;
  }
  .image-content {
    display: block;
    width: 40%;
  }
  .text-content {
    width: 60%;
  }

  .image-content {
    display: block;
  }
}
