.feature-heading {
  font-size: calc(1.3rem + 0.6vw);
}

@media all and (min-width: 768px) {
  .feature-heading {
    font-size: calc(1.1rem + 0.6vw);
  }
}

@media all and (min-width: 1200px) {
  .feature-heading {
    font-size: 1.7rem;
  }
}
