.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  padding: 1.8rem 0px;
}
.heading-container {
  grid-column: 1/ -1;
  max-width: 900px;
  text-align: center;
  margin: 2rem auto;
}
.heading-container h3 {
  font-size: calc(1.4rem + 0.8vw);
  transition: all 0.4s 0.2s;
  transform: translateY(10px);
  opacity: 0;
}
.heading-container p {
  font-size: calc(0.8rem + 0.5vw);
  line-height: 1.8rem;
  color: var(--textColor);
  transition: all 0.4s 0.3s;
  transform: translateY(10px);
  opacity: 0;
}

.show-up {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
.float-shape {
  position: absolute;
  max-width: 25% !important;
  z-index: 3;
  display: none;
}
.float-shape:nth-of-type(1) {
  top: 50px;
  right: -130px;
}
.float-shape:nth-of-type(2) {
  bottom: -80px;
  left: -190px;
}
.float-shape:nth-of-type(3) {
  bottom: 10px;
  right: -160px;
  max-width: 14% !important;
}

@media all and (min-width: 576px) {
  .float-shape {
    display: inline-block;
  }
}
@media all and (min-width: 992px) {
  .heading-container p {
    font-size: calc(0.65rem + 0.6vw);
    line-height: 1.8rem;
  }
}
@media all and (min-width: 1400px) {
  .heading-container h3 {
    font-size: 2.4rem;
  }
  .heading-container p {
    font-size: 1rem;
  }
}
