.information {
  grid-column: span 12;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 1.8s 1s;
}
.image-wrapper {
  border-radius: 20px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  transition: all 1.5s 1s;
}
.sign-up-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media all and (min-width: 576px) {
  .sign-up-image {
    border-radius: 30px;
  }
}
@media all and (min-width: 992px) {
  .information {
    grid-column: span 6;
    padding: 2rem;
  }
}
