.pricing-section {
  position: relative;
  grid-column: span 12;
  padding-top: 1rem;
}
.pricing-plan-wrapper {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
