.cart-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--whiteColor);
  font-size: var(--navFontSize);
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  min-width: 140px;
  transition: all 0.3s;
}
.large-sc-cart {
  display: none;
}

@media all and (min-width: 992px) {
  .large-sc-cart {
    display: block;
  }
}
.cart-button:hover {
  opacity: 0.75;
}
