.mobile-nav {
  width: 100%;
  max-width: 1270px;
  background-color: var(--primeBgColor);
  padding: 20px 20px 0px;
  height: auto;
  position: absolute;
  top: -500;
  z-index: -1;
  border-radius: 25px;
  transition: all 0.5s;
}
.show-mobile-nav {
  top: 90px;
}
.hide-mobile-nav {
  top: -500px;
}

@media all and (min-width: 992px) {
  .mobile-nav {
    display: none !important;
  }
}
