.mobile-nav {
  width: 100%;
  max-width: 1270px;
  background-color: var(--primeBgColor);
  padding: 20px 20px 0px;
  height: auto;
  position: absolute;
  top: -500;
  z-index: -1;
  border-radius: 25px;
  transition: all 0.5s;
}
.show-mobile-nav {
  top: 90px;
  background-color: red;
}
.header-onHide div.show-mobile-nav {
  top: 90px;
}
.hide-mobile-nav {
  top: -500px;
}
.mobile-mega {
  padding: 10px 0px;
}
.mobile-nav-link {
  padding: 4px 0px;
}

@media all and (min-width: 576px) {
  .header-onHide div.show-mobile-nav {
    top: 100px;
  }
}
@media all and (min-width: 768px) {
  .header-onHide div.show-mobile-nav {
    top: 140px;
  }
}
@media all and (min-width: 992px) {
  .header-onShow > div.show-mobile-nav {
    top: 15000px;
  }
  .mobile-nav {
    display: none !important;
  }
}
