.mobile-nav {
  width: 100%;
  max-width: 1270px;
  background-color: var(--primeBgColor);
  padding: 20px 20px 0px;
  height: auto;
  transform: translateY(-400px);
  z-index: -1;
  border-radius: 25px;
  transition: all 0.5s;
  margin-bottom: 1rem;
  transition: all 0.3s !important;
}
.show-mobile-nav {
  transform: translateY(10px);
}
.header-onHide div.show-mobile-nav {
  transform: translateY(10px);
}
.hide-mobile-nav {
  top: -500px;
}
.mobile-mega {
  padding: 10px 0px;
}
.mobile-nav-link {
  padding: 0.35rem 0px;
}

@media all and (min-width: 576px) {
  .header-onHide div.show-mobile-nav {
    transform: translateY(60px);
  }
}
@media all and (min-width: 768px) {
  .header-onHide div.show-mobile-nav {
    top: 150px;
  }
}
@media all and (min-width: 992px) {
  .header-onShow > div.show-mobile-nav {
    top: 15000px;
  }
  .mobile-nav {
    display: none !important;
  }
}
