.navbar-container {
  padding-top: 1.8rem;
  position: relative;
  background-color: transparent;
}
.navbar-style {
  border-radius: 50px;
  background-color: var(--primeBgColor);
  padding: 15px 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  position: relative;
}
.start-button-and-cart {
  display: flex;
}
.smal-sc-cart {
  display: block;
}
.mobile-nav-container {
  width: 100%;
  height: max-content;
  transition: all 0.3s;
  top: 80px;
  right: 0px;
  position: absolute;
  overflow: hidden;
}
@media all and (min-width: 576px) {
  .navbar-style {
    padding: 13px 30px;
  }
}
@media all and (min-width: 768px) {
  .navbar-style {
    padding: 15px 30px;
  }
}
@media all and (min-width: 992px) {
  .navbar-style {
    padding: 18px 30px;
  }
  .smal-sc-cart {
    display: none;
  }
}
