.navbar-link-item {
  margin: 0px 10px;
}
.nav-link {
  display: flex;
  width: max-content;
  font-size: var(--navFontSize);
  font-weight: 500;
  transition: all 0.3s;
}

.angle-icon {
  font-size: 25px;
  height: 40px;
  margin-right: 5px;
  transition: all 0.3s;
  padding-top: 1px;
}
span {
  transition: all 0.3s;
}
@media all and (min-width: 557px) {
  .nav-link {
    font-size: var(--navFontSize);
  }
}
.nav-link:hover > span {
  opacity: 0.75;
}
.nav-link:hover span.angle-icon {
  transform: rotateZ(180deg);
}
li:hover a.nav-link div {
  display: block;
}
