.copy-right-section {
  border-top: 1.5px solid #fff;
  display: flex;
  flex-flow: row wrap;
}
.copy-right-section p,
.copy-right-section ul {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  margin-top: 1rem;
}
.copy-right-section ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 1rem;
}
.copy-right-section ul > li {
  font-size: 1.1rem;
  margin: 0px 1rem;
  transition: all 0.3s;
}
.copy-right-section ul > li:hover a {
  color: #d4d3d3;
}

@media all and (min-width: 992px) {
  .copy-right-section ul {
    width: 50%;
    margin-top: 3rem;
  }
  .copy-right-section p {
    width: 50%;
    margin-top: 3rem;
  }
}
