.gradient-button {
  border: none;
  background-color: transparent;
  color: inherit;
  width: max-content;
  height: max-content;
  font-weight: 600;
  position: relative;
  padding: 5px 0px;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
.gradient-button-get-start {
  display: none;
}
.grad-button-text {
  position: relative;
  z-index: 2;
  margin: 0px 20px;
}
.gradient-bg {
  background-image: linear-gradient(
    90deg,
    #27a4ff,
    #3354ff 28%,
    #7433ff 50%,
    #f64abb 79%,
    #ff7c33
  );
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-size: 150% 100%;
  background-position: 90% 135%;
  transition: all 0.3s;
}

.bars {
  width: 60%;
  height: 2.7px;
  border-radius: 10px !important;
  background-color: #fff;
  margin: 5px auto;
  transition: all 0.3s;
}
.bars-gButton .grad-button-text {
  margin: 0px 0px;
}
.bars-gButton {
  padding: 0px;
  margin: 0px;
  width: 39px;
  height: 39px;
}
.bars-clicked div.bars:nth-child(1) {
  transform: translate(1px, 5px) rotate(50deg);
}
.bars-clicked div.bars:nth-child(2) {
  transform: translate(1px, -6px) rotate(-50deg);
}

.gradient-button:hover {
  transform: scale(0.98);
}

.gradient-button:hover .gradient-bg {
  transform: scale3d(2, 2, 1);
}
.bars-gButton:hover {
  transform: scale(1);
}
.bars-gButton:hover .gradient-bg {
  transform: scale3d(1, 1, 1);
}

@media all and (min-width: 768px) {
  .gradient-button-get-start {
    display: block;
    font-size: var(--navFontSize1);
    font-weight: 700;
  }
  .bars-gButton {
    margin: 0px 10px;
    width: 45px;
    height: 45px;
  }
  .bars {
    margin: 7px auto;
    height: 3.7px;
  }
}
@media all and (min-width: 992px) {
  .gradient-button {
    padding: 7px 5px;
    font-size: var(--navFontSize);
  }
  .grad-button-text {
    margin: 0px 30px;
  }
  .bars-gButton {
    display: none;
  }
}
