.headline-wrapper {
  grid-column: span 12;
  text-align: center;
  transition: all 0.8s 0.3s;
  opacity: 0;
}
.headline-wrapper > h4,
.headline-wrapper > p {
  max-width: 570px;
  margin: 0px auto;
}
.headline-wrapper > h4 {
  font-size: calc(1.2rem + 0.8vw);
  font-weight: 800;
}
.headline-wrapper > p {
  color: var(--textColor);
  font-size: 0.97rem;
  line-height: 1.9rem;
}

@media all and (min-width: 576px) {
  .headline-wrapper > h4,
  .headline-wrapper > p {
    max-width: 760px;
  }
}
@media all and (min-width: 768px) {
  .headline-wrapper > h4,
  .headline-wrapper > p {
    max-width: 880px;
  }
}

.show-headline {
  opacity: 1;
}
